.item1{
  grid-area: header;
  font-size: 16px;
}
.item2{
  grid-area: contact;
  font-size:16px;
}
.item3{
  grid-area: honors;
  font-size: 16px;
}
.item4{
  grid-area: education;
}
.item5{
  grid-area: profile;
}
.item6{
  grid-area: skills;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header header'
    'contact contact honors honors honors honors honors'
    'education education profile profile profile profile profile'
    'skills skills skills skills skills skills skills';
  gap: 10px;
  padding: 20px 0;
  background-color:#A2E4B8;
}
.grid-container > div{
  text-align: left;
  padding: 20px 0;
  font-size: 16px;
  border-style:inset;
}
@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}
